.swiper {
	width: 700px;
	height: 500px;
	border-radius: 1rem;
	box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.1);
}

.swiper-slide img {
	object-fit: cover;
	object-position: center;
	height: 100%;
	width: 100%;
}

.swiper-button-next,
.swiper-button-prev {
	color: #fff !important;
}
.swiper-pagination {
	text-shadow: 0px 3px 30px rgba(0, 0, 0, 0.4);
	color: #fff;
}

.details {
	margin: 5rem auto;
}

.gw-details {
	margin: 4rem auto;
	text-align: center;
}
.gw-details p {
	font-size: 1.35rem;
	line-height: 3rem;
}
.gw-details.flex {
	flex-direction: column;
	gap: 4rem;
}

.info {
	max-width: 70%;
}

.info h2 {
	color: var(--primary-color);
}
