.hero > h1 {
	text-align: center;
	margin-top: 3rem;
	margin-bottom: 4rem;
}
h1.name {
	font-size: 4rem;
	font-weight: 500;
}
.special-btn {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	border: none;
	background: linear-gradient(319.62deg, #37bc2b 18.62%, #bcffb6 106.15%);
	border-radius: 50px;
	gap: 1rem;
	padding: 0.7rem 1rem;
	transition: all linear 200ms;
}
.special-btn:hover {
	border-radius: 20px;
	box-shadow: 0px 4px 20px -1px #81ff759b;
}
.special-btn img {
	width: 50px;
}

.special-btn span {
	font-size: 1.8rem;
	font-weight: 500;
	color: #fff;
}
.mygreenworks .flex {
	align-items: center;
	justify-content: center;
	gap: 4rem;
}
.mygreenworks {
	margin-bottom: 5rem;
}

.table {
	width: 100%;
	background-color: #fff;
	margin-bottom: 4rem;
	box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.08);
}
thead {
	font-weight: 400;
	font-size: 1.7rem;
	background: black;
	color: #fff;
	padding: 1rem;
}
thead tr td {
	font-size: 1.4rem;
}
tbody td:nth-child(3) {
	display: flex;
	gap: 2rem;
	align-items: center;
	justify-content: center;
}
tbody td:nth-child(3) * {
	font-size: 1.4rem;
}
tbody tr:hover {
	background-color: rgb(242, 242, 242);
}

.table th,
.table td {
	padding: 0.75rem;
	vertical-align: top;
}
.table thead th {
	vertical-align: bottom;
	border-bottom: 2px solid #d6d7d9;
}

#view,
#edit,
#delete {
	transition: all 100ms linear;
}
#view:hover,
#edit:hover {
	color: var(--primary-color);
}

#delete:hover {
	color: #ec5353;
}

/* add images */
.hero.add h1 {
	margin-bottom: 5rem;
	margin-top: 5rem;
}
.upload {
	max-width: 80%;
	margin: 0 auto;
}
.dropzone {
	background: white;
	border-radius: 20px;
	border: 3px dashed var(--primary-color) !important;
	border-image: none;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 4rem;
}

.dropzone .dz-message {
	text-align: center !important;
	margin: 1.1em 0 !important;
	font-size: 2rem !important;
	color: var(--primary-color) !important;
}

.fields {
	width: 100%;
	display: flex;
	align-items: baseline;
	justify-content: center;
	gap: 2rem;
}

.inputs input,
.inputs textarea {
	width: 100%;
	padding: 1rem 0.8rem;
	border-radius: 10px;
	border: #afafaf 3px solid;
	transition: all linear 150ms;
}

label {
	display: block;
	font-size: 1.5rem;
	color: #afafaf;
	margin-bottom: 0.6rem;
	margin-top: 0.7rem;
}

.col {
	width: 100%;
}
.row {
	width: 100%;
}

textarea {
	resize: none;
}

.col textarea {
	height: 150px;
}
.row textarea {
	height: 257px;
}

.inputs {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 2rem;
	margin-bottom: 5rem;
}

label.is-invalid {
	color: #ff3c3c !important;
	transition: all 100ms linear;
}
label.is-valid {
	color: var(--primary-color);
	transition: all 100ms linear;
}

.inputs input:focus,
.inputs textarea:focus,
.inputs input:valid,
.inputs textarea:valid {
	border-color: var(--primary-color);
}
input.is-invalid,
textarea.is-invalid {
	border-color: #ff3c3c !important;
}

.invalid-feedback {
	color: #ff3c3c;
	font-size: 1.3rem;
	margin-bottom: -1rem;
	transition: all 100ms linear;
}
.hide {
	display: none;
	transition: all 100ms linear;
}

/* All Greenworks */
.card {
	width: 500px;
	box-shadow: 0px 0px 0px 3px var(--primary-color);
	padding-bottom: 1rem;
}

.card > img {
	width: 450px;
}
.all-greenworks h1 {
	margin-top: 5rem;
}
.gws {
	margin-bottom: 5rem;
}
.greenworks {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
	justify-content: center;
	align-items: center;
}
.gw-card {
	position: relative;
	width: 500px;
	background-color: white;
	box-shadow: 0px 0px 0px 3px var(--primary-color);
	padding: 2rem;
	border-radius: 1rem;
	margin: 1rem 0;
}
.gw-card > img {
	width: 100%;
	border-radius: 1rem;
}

.gw-card .text {
	margin-top: 1rem;
}
.gw-card .text * {
	margin-top: 1.2rem;
}
.gw-card h5 {
	font-size: 1rem;
	color: #000;
	opacity: 1;
}
.gw-card h5 span {
	font-size: 1rem;
	color: var(--primary-color);
}

.gw-card p {
	font-size: 1.3rem;
	line-height: 2.5rem;
}

.gw-card a {
	position: absolute;
	content: "";
	background-color: #000;
	width: 100%;
	height: 100%;
	inset: 0;
	border-radius: 1rem;
	opacity: 0;
}
