@import url("https://fonts.googleapis.com/css2?family=Lato:wght@200;300;400;500;700&family=Montserrat:wght@400;500;600;700&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Overpass:wght@300;400;500;600;700&family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap");
:root {
	--primary-color: #37bc2b;
	--gradient: linear-gradient(181.22deg, #37bc2b 1.04%, #b5ffae 120.29%);
}
html {
	scroll-behavior: smooth;
}
*:focus {
	outline: none;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: 16px;
	font-family: "Outfit", "lato", "Montserrat", Arial, sans-serif, "Overpass",
		"Ariel";
}
/* img{
    width: 100%;
    height: 100%;
} */
body::-webkit-scrollbar {
	width: 0.5rem;
}
body::-webkit-scrollbar-track {
	background: #ccc;
}
body::-webkit-scrollbar-thumb {
	background: black;
	border-radius: 4rem;
}

body {
	line-height: 1.8rem;
	position: relative;
}
/* utilities */
.container {
	max-width: 1400px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0 40px;
	/* width: 80%; */
}
.flex {
	/* margin: 0 1rem; */
	display: flex;
	justify-content: center; /* align horizontaly  */
	align-items: center; /* align vertically  */
	height: 100%; /* important to use all the height available  */
}

h1,
h1 font {
	/* h1 */
	font-style: normal;
	font-weight: 600;
	font-size: 4.5rem;
	line-height: 112px;
	text-transform: capitalize;
}
h1 span {
	font-weight: 600;
	font-size: 4.5rem;
	color: var(--primary-color);
}

h2,
h2 font {
	font-weight: 600;
	font-size: 1.6rem;
	line-height: 131%;
	letter-spacing: 0.12em;
	text-transform: uppercase;
	text-align: center;
}
h4,
h4 font {
	font-size: 28px;
	font-weight: 400;
	text-transform: capitalize;
}
h5,
h5 font {
	font-size: 24px;
	font-weight: 400;
	text-transform: uppercase;
	opacity: 0.5;
	font-weight: 600;
	font-size: 24px;
	letter-spacing: 0.12em;
}
a {
	cursor: pointer;
}
.btn,
.btn-secondary {
	cursor: pointer;
	border: none;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 131%;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
	color: #fff;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 18px 25px;
	background: var(--primary-color);
	border-radius: 50px;
	transition: 200ms linear;
}
.btn-secondary {
	background: #000;
}
.btn:hover,
.btn:focus {
	box-shadow: 0px 0px 0px 3px var(--primary-color) inset;
	background: transparent;
	color: var(--primary-color);
}
.btn-secondary:hover,
.btn-secondary:focus {
	box-shadow: 0px 0px 0px 3px #000 inset;
	background: transparent;
	color: #000;
}

p span,
p font span {
	font-weight: 500;
	font-size: 20px;
	color: var(--primary-color);
}

h2.title,
h2.title font {
	margin: 5rem 0;
	font-size: 2rem;
}
h2.card-t,
h2.card-t font {
	font-size: 1.2rem !important;
}

/* logout */
.logout {
	margin-left: 2rem;
}
